@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular Italic'), local('Proxima-Nova-Regular-Italic'),
        url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff'),
        url('ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }